.btn {
  padding: 8px 20px;
  margin: 20px;
  border-radius: 2px;
  width: 100px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  transition: all 0.3s ease-out;
}

.btn:hover,
.active {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}
