.profile {
  display: grid;
  grid-template-rows: 1fr 3fr;
  color: white;
  height: 100vh;
  width: 80%;
  row-gap: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  padding-top: 50px;
  /* justify-content: center; */
}

.avatar > img {
  height: 200px;
  width: 200px;
  margin: 20px;
  /* background-color: blueviolet; */
  border-radius: 100%;
}

.userName {
  display: flex;
  justify-content: center;
  margin: auto;
}

.userName > h2 {
  font-size: 36px;
}

.body {
  position: relative;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  column-gap: 50px;
  margin-bottom: 50px;
}

.artists,
.tracks {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.artists > h2,
.tracks > h2 {
  margin-bottom: 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.heading > h2 {
  font-size: 32px;
}
