.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 150px;
  height: 100vh;
  color: white;
  background-color: #040404;
}

.sidebar__option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  height: 100px;
  width: 100px;
  padding: 10px auto;
  border: 1px solid white;
  text-overflow: wrap;
}
