/* .headings {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding-left: 10px;
  font-weight: bold;
  font-size: 24px;
} */

.topArtists {
  color: white;
  width: 100%;
  padding: 50px;
}

.headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-row-gap: 50px;
  grid-column-gap: 100px;
}

.buttons {
  display: flex;
  align-items: flex-end;
}
